name: docker_publish

on:
  push:
    branches:
    - 'main'
    - 'dev'
    tags:
    - '*'

jobs:
  lint_test:
    uses: babylonchain/.github/.github/workflows/reusable_go_lint_test.yml@v0.1.0
    with:
     install-dependencies-command: 'sudo apt-get install libzmq3-dev'
     run-unit-tests: true
     run-integration-tests: true
     
  docker_pipeline:
    needs: ["lint_test"]
    uses: babylonchain/.github/.github/workflows/reusable_docker_pipeline.yml@v0.1.0
    secrets: inherit
    with:
     publish: true